@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,a{
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #ebebeb;
    width: 100vw;
    height: 100vh;
    color: rgb(36, 34, 34);
    font-family: 'Playfair Display', serif;
    position: relative;
}
header{
    height: 50px;
    max-width: 100%;
    box-shadow:inset -3px -3px 5px #59c3c350,3px 3px 5px #ebebeb;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
li a .logo{
    color: #5b5f97;
    font-family: 'Dancing Script', cursive;
}
li a .logo #ox{
    color: #ffc145;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Tangerine', serif;
    display: inline-block;
    margin-top: 5px;
}
li a .logo #xo{
    color: #ff45d7;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Tangerine', serif;
    display: inline-block;
    margin-top: -3px;
}
li a .button{
    padding: 3px;
    background-color: transparent;
    border: thin solid #5b5f97;
    font-size: 1.2rem;
    color: #5b5f97;
    border-radius: 5px;
    transition: 0.2s all ease-in;
}
li a button{
    padding: 4px;
    background-color: none;
    border-radius: 10px;
    border-left:2px solid #5b5f97;
    border-right: 2px solid #5b5f97;
    border-top:thin solid #ffc145;
    border-bottom:thin solid #ff45d7;
}
.welcome{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.welcome p span{
    color: #ff45d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    max-width: 500px !important;
    min-width: 350px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   padding: 5%;
   border: thin solid #aaa;
   border-radius: 10px;
}
form h3{
    text-align: center;
    text-transform: capitalize;
     color: #5b5f97;
    
}
form textarea{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: transparent;
    border: thin solid #aaa;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 1.05rem;
}
form #display{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 0.3fr;
   border-radius: 10px;
    border: thin solid #ccc;
}
form #display div{
  
/*    height: 40px;*/
    text-align: center;
    font-size: 0.8rem;
 
}
form #display span{
    display: none;
}
form #display div div{
    height: 40px;
    width: 100%;
    border: thin solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
    width: 100%;
    padding:5px;
    background-color: #5b5f97;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.22rem;
    margin-top: 10px;
}
#char:hover > span{
    display: inline-block;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #aaaaaa59;
    display: flex;
    align-items: center;
    justify-content: center;
}